__pycache__/Cell.cpython-39.pyc
__pycache__/CellLG.cpython-39.pyc
__pycache__/LifeGame.cpython-39.pyc
__pycache__/CellLGUI.cpython-39.pyc
__pycache__/LifeGameUI.cpython-39.pyc
LifeGame/__pycache__/CellLG.cpython-39.pyc
LifeGame/__pycache__/CellLGUI.cpython-39.pyc
LifeGame/__pycache__/LifeGame.cpython-39.pyc
LifeGame/__pycache__/LifeGameUI.cpython-39.pyc
LifeGame/__pycache__/LifeGameSim.cpython-39.pyc
